:root {
  /* Color Variables */
  --primary: #3163a0;
  --secondary: #16cd47e4;
  --nemo: #ff4a11;
  --granite: #252629;
  --water: hsl(220, 33%, 96%);
  --foam: #ffffff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
